.bdots-web .footer {
  background-color: #f8f8f8;
  border-top: 1px #00bcd4 solid;
  width: 100%; }
  .bdots-web .footer .footer-content {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 10px; }
    .bdots-web .footer .footer-content ul, .bdots-web .footer .footer-content p {
      list-style: none;
      margin: 0;
      padding: 0; }
    .bdots-web .footer .footer-content p, .bdots-web .footer .footer-content li, .bdots-web .footer .footer-content a {
      font-size: 0.75rem;
      line-height: 20px; }
    .bdots-web .footer .footer-content h1 {
      color: #00bcd4;
      font-size: 1.2rem; }
    .bdots-web .footer .footer-content .footer-content-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      width: 100%; }
    .bdots-web .footer .footer-content .footer-content-copyright {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      width: 100%;
      border-top: 1px #333 solid;
      margin: 10px 0;
      padding-top: 10px; }
      .bdots-web .footer .footer-content .footer-content-copyright ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch; }
        .bdots-web .footer .footer-content .footer-content-copyright ul li {
          padding-right: 20px; }
